
<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row form-data-margin">
    <%= f.label :name, class: "col-3 m-0 p-0" %>
    <%= f.text_field :name, class: "col-6 form-control"%>
  </div>

  <div class="row form-data-margin">
    <%= f.label :type, class: "col-3 m-0 p-0" %>
    <%= f.text_field :emp_type, class: "col-6 form-control" %>
  </div>

  <div class="row form-data-margin">
    <%= f.label :address, class: "col-3 m-0 p-0" %>
    <%= f.text_field :address, class: "col-6 form-control" %>
  </div>

  <div class="row form-data-margin">
    <%= f.label :contact, class: "col-3 m-0 p-0" %>
    <%= f.text_field :contact, class: "col-6 form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success btn-sm"%>
  </div>
<% end %>
