<div class='nested-fields'>
  <div class = "card alert-success">
    <div class= "card-body">
      <%= link_to_remove_association '<i class="btn btn-danger fas fa-times float-right p-1"></i>'.html_safe, f %>
      <div class="row">
        <div class="col-5">
          <%= f.label :bill_no %>
          <select class="form-control" name="bill_no" id="task_bill_no">
            <%= @bills.each do |bill| %>
              <option><%= bill.bill_no %></option>
            <% end %>
          </select>
        </div>

        <div class="col-7">
          <%= f.label :date %>
          <%= f.input :date, id: "datepicker", label: false, class: "form-control"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= f.label :particular %>
          <%= f.text_field :task_particular, class: "form-control" %>
        </div>

        <div class="col-6">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
