<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class= "col col-md-6 offset-md-3 col-sm-10 offset-sm-1">
      <div class="login">
        <h1 class="form_header">
          <strong>Bill no:</strong>
          <%= @bill.bill_no %>
        </h1>

        <table class = "table">
          <tr>
            <th> Particulars </th>
            <th> Quantity </th>
          </tr>
          <tr>
            <% @bill.particulars.each do |particular| %>
            <td> <%= particular.name %> </td>
            <td> <%= particular.quantity %> </td>
          </tr>
          <% end %>
        </table>

        <div class="float-right">
          <p>
            <strong>Total:</strong>
            <%= @bill.total %>
          </p>

          <p>
            <strong>Advance:</strong>
            <%= @bill.advance %>
          </p>

          <p>
            <strong>Grand total:</strong>
            <%= @bill.grand_total %>
          </p>

          <p>
            <strong>Is complete:</strong>
            <%= @bill.is_complete %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
