<p id="notice"><%= notice %></p>

<h1>Particulars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cus rate</th>
      <th>Emp rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @particulars.each do |particular| %>
      <tr>
        <td><%= particular.name %></td>
        <td><%= particular.cus_rate %></td>
        <td><%= particular.emp_rate %></td>
        <td><%= link_to 'Show', particular %></td>
        <td><%= link_to 'Edit', edit_particular_path(particular) %></td>
        <td><%= link_to 'Destroy', particular, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Particular', new_particular_path %>
