<!DOCTYPE html>
<html>
  <head>
    <title>FashionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/top_navigation" %>
    <%= render "layouts/flash_notice" %>
    <%= yield %>
    <div class="debug_dump">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>

  <script>

</script>
</html>
